/*!
 * Edition v2.0 Copyright 2016-2018 http://v.shoutu.cn
 * Email 726662013@qq.com,admin@shoutu.cn
 */
@charset "utf-8";
/* all */
.wodetupian{font-size:16px; line-height:30px; padding-right:10px; padding-left:10px;} 
.wodetupian img{display:block;margin:0px auto; text-align: center;max-width:65%; width:expression(document.body.clientWidth>650? "650px";"auto"); overflow:hidden; } 
#ddav{width: 730px;height: 110px; margin: 5px auto; line-height: 35px; border: 1px solid #777; text-align: center; border-radius: 3px; display: block; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#ddav p a{width: 96%; font-size:18px;font-weight:bold; text-align: center;}
#ddav img{width: 100%;height: 70px; }
.container {position: relative;}
.row{position: relative;}
#ddab{width: 98%;height: 20px; margin: 5px auto; line-height: 20px; text-align: center; border-radius: 3px; display: block;}
#ddab .seach form{height:20px}
#ddab .seach{width:100%;float:center;height:20px}
#ddab .seach input{display:block;width:70%;float:left;border:1px solid #F3A221;padding-top:8px;padding-bottom:8px;text-indent:0.2em}
#ddab .seach button{border:none; background:#F3A221;color:#fff;display:block;width:28%;float:right;padding-top:1px;border-radius:4px;cursor:pointer;height:38px}

/* header */
.stui-header__top{margin:5px auto;z-index:9999;width:100%;min-height:90px;}
.top-fixed-down{margin-top:-80px}
.stui-header__side{float:right;margin-top:10px;margin-right:100px}

/* header-logo */
.stui-header__logo,.stui-header__menu{float:left}
.stui-header__logo{margin-top:5px;margin-left:10px}
.stui-header__logo .logo{display:block;width:269px;height:40px;background:url(../img/logo.gif) no-repeat;background-position:50% 50%;background-size:cover}

.stui-header__user{float:right;}
.stui-header__user .ko{display:block;width:300px;height:35px;background:url(../img/f1.gif) no-repeat;background-position:50% 50%;background-size:cover}

/* pannel */
.stui-pannel{position: relative; margin-bottom: 10px;}
.stui-pannel.stui-pannel-x{ margin: -10px -10px 10px;}
.stui-pannel-bg{border-radius: 2px;}
.stui-pannel-side{ padding: 0 0 0 10px;}
.stui-pannel-box{ padding: 10px;}
.stui-pannel-box.active{ padding: 0; margin: -10px;}
.stui-pannel_hd{ padding: 10px;}

/* pannel-head */
.stui-pannel__head{ position: relative; height: 25px;}
.stui-pannel__head.active{height: 30px;}
.stui-pannel__head .title{float: left; margin:0; padding-right: 10px; line-height: 20px;}
.stui-pannel__head .title img{ display: inline-block; width: 24px; height: 24px; margin-right: 10px; vertical-align: -5px;}
.stui-pannel__head .more{ line-height: 25px;}

/* content */
.stui-content__detail,.stui-content__thumb{display:table-cell;vertical-align:top}
.stui-content__thumb .v-thumb{width:190px}
.stui-content__thumb .w-thumb{width:300px}
.stui-content__detail{width:100%;padding:10px 20px;}
.stui-content__detail .title{margin:10px 0 10px;line-height:30px}
.stui-content__detail .data{margin-bottom:10px}
.stui-content__detail .data li{float:left;margin-right:20px}
.stui-content__detail .desc{padding-left:42px}
.stui-content__detail .desc .left{margin-left:-42px}
.stui-content__detail .play-btn{padding-left:42px;margin-top:20px}
.stui-content__detail .play-btn .shere{margin-top:5px}

/* player */
.stui-player__detail{ margin-top: 20px;}
.stui-player__detail .title{margin:0 0 10px}
.stui-player__detail .detail-content{padding-top:10px}
.stui-player__detail .desc{padding-left:42px}
.stui-player__detail .desc .left{margin-left:-42px}

/* screen */
.stui-screen__list{position:relative;padding:5px 0 5px}
.stui-screen__list li{float:left;margin-right:10px;margin-bottom:5px}
.stui-screen__list li span{display:inline-block;padding:3px 0 3px}
.stui-screen__list li a{display:inline-block;padding:3px 10px;border-radius:2px}
.stui-screen__list.letter-list li a{padding:3px 5px}
.stui-screen__list.letter-list li.active a{padding:3px 10px}
.stui-screen__list li.active a{ background: #3a3a3a;  color: #FF9900;}

/* page */
.stui-page{margin-bottom:30px}.stui-page li{display:inline-block;margin-left:10px}
.stui-page li .num,.stui-page li a{display:inline-block;padding:5px 15px;border-radius:5px}

/* extra */
.stui-extra{position:fixed;right:50px;bottom:50px}
.stui-extra li{position:relative;padding:15px 10px 0}
.stui-extra li a,.stui-extra li span{display:block;width:50px;height:50px;line-height:50px;text-align:center;border-radius:4px;font-size:16px;cursor:pointer}
.stui-extra li a .icon,.stui-extra li span .icon{font-size:16px}
.stui-extra li a img{margin-top:15px;width:20px;height:20px}
.stui-extra li .sideslip{display:none;position:absolute;bottom:0;right:100%}
.stui-extra li .sideslip:before{content:" ";width:10px;height:10px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);border-width:0 1px 1px 0;position:absolute;bottom:20px;right:-6px;border-style:solid}
.stui-extra li:hover .sideslip{display:block}

@media (min-width:768px){
	.container{width:760px}
}
@media (min-width:992px){
	.container{width:960px}
}
@media (min-width:1200px){
	.container{width:1120px}
}
@media (max-width:1024px){
	
	/* all */
	

    /* header */
	.top-fixed-down{margin-top:-100px}
	.stui-header__side{float:none;position:absolute;top:-10px;left:400px;width:auto}
	.stui-header__logo,.stui-header__menu{float:none}
	.stui-header__logo{margin:5px 0 10px}
	.stui-header__logo .logo{width:130px;height:40px;background:url(../img/logo_min.gif) no-repeat;background-position:50% 50%;background-size:cover}
	.stui-header__search{float:right;margin-top:10px}
	.stui-header__menu{margin:0;padding:0;height:40px;line-height:40px}
	.stui-header__menu:before{content:" ";position:absolute;left:0;top:0;right:0;width:100%;height:1px;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
	.stui-header__menu li{margin-top:0;margin-right:20px}
	.stui-header__menu li a{padding:0;font-size:14px;white-space:nowrap}
	.stui-header__menu li.active a{position:relative}
	.stui-header__menu li.active a:before{content:" ";position:absolute;left:50%;bottom:0;width:20px;margin-left:-10px;height:2px;border-radius:2px}



}
@media (max-width:767px){
	
	/* all */	   
	.wodetupian img {margin: 0 auto; max-width:90%; width:expression(document.body.clientWidth>320? "320px";"auto"); overflow:hidden; } 
	/* header */ 
	.stui-header__logo{margin-left:10px}
	.stui-header__side{float:none;position:absolute;top:-10px;left:180px;width:auto}
	.stui-header__menu{padding-left:10px}

	
	/* content */

	.stui-content__thumb .v-thumb{width:115px}
	.stui-content__thumb .w-thumb{width:160px}
	.stui-content__detail{padding:0 10px}
	.stui-content__detail .title{margin:10px 0 10px;font-size:14px;line-height:18px}
	.stui-content__detail .data{margin:0 0 10px;font-size:12px}
	.stui-content__detail .play-btn{margin:0;padding:0}
	.stui-content__playlist li a{padding:5px 10px;font-size:12px}
	
	/* player */
	.stui-player__detail{ margin-top: 10px;}
	.stui-player__detail .data .title{font-size:16px}
	
	/* screen */
	.stui-screen__list{padding:5px 0 5px;overflow:hidden}
	.stui-screen__list li{margin-right:10px;margin-bottom:0}
	.stui-screen__list li span{padding:2px 0 2px}
	.stui-screen__list li a{padding:2px 0 2px;background:0 0;white-space:nowrap}
	.stui-screen__list.letter-list li a,.stui-screen__list.letter-list li.active a{padding:2px 0 2px}
	
	/* type */
	.stui-mobile__type li{padding:0 20px}
	.stui-mobile__type li a{display:block;padding:10px 0;text-align:center}
	
	/* page */
	.stui-page li{float:left;width:20%;margin:0;padding:0 5px 0 5px}
	.stui-page li a,.stui-page__box li .num{display:block;padding:5px 0;text-align:center}
	
	/* extra */
	.stui-extra{right:15px;bottom:15px}
	.stui-extra li{padding:8px 0 0}
	.stui-extra li a,.stui-extra li span{width:35px;height:35px;line-height:35px;font-size:14px}
	.stui-extra li a .icon,.stui-extra li span .icon{font-size:14px}
	.stui-extra li a img{margin-top:8px;width:18px;height:18px}
	
	/* foot */
	.stui-foot{padding:20px 0}
}

/* popup */
.popup{position: fixed; right: -100%; top: 0; z-index: 1001; width: 100%; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-transition:.5s; -o-transition:.5s; -moz-transition:.5s; -ms-transition:.5s; transition:.5s;}
.popup-visible{ right: 0;}
.popup-head { padding: 15px 10px; margin-bottom: 10px;}
.popup-head .title{ display: inline-block; margin: 0;}
.popup-head .icon{ font-size: 20px;}

.stui-header__top{ background-color: #FFFFFF; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);}

/* header-menu */
.stui-header__menu li a{ color: #333333;}
.stui-header__menu li.active a{ background-color: #FF9900; color: #FFFFFF;}


@media (max-width: 1024px){
	
	/* header-menu */
	.stui-header__menu:before{ border-top: 1px solid #EEEEEE;}
	.stui-header__menu li.active a{ background: none; color: #333333;}
	.stui-header__menu li.active a:before{ background-color: #FF9900;}
}

@media (max-width: 767px){
	
	/* screen */
.stui-screen__list li.active a{z-index:9999; background: #3a3a3a; color: #FF9900;}
.wodetupian img {margin: 0 auto; max-width:85%; width:expression(document.body.clientWidth>320? "320px";"auto"); overflow:hidden; } 
#ddav{width: 96%;height: 75px; margin: 2px auto; line-height: 20px; border: 1px solid #A11F68; text-align: center; border-radius: 3px; display: block; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#ddav p a{width: 98%; font-size:12px; text-align: center;}
#ddav img{width: 100%;height: 50px; }
}
@media (max-width: 330px){
	
	/* screen */
    .stui-header__menu li{margin-top:0;margin-right:10px}
	.stui-header__menu li a{padding:0;font-size:12px; white-space:nowrap}
	.stui-header__menu li.active a{position:relative}
	.stui-header__menu li.active a:before{content:" ";position:absolute;left:50%;bottom:0;width:20px;margin-left:-10px;height:2px;border-radius:2px}
	.stui-header__side{float:none;position:absolute;top:-10px;left:150px;width:auto}
}